@import "vars";

body {
    font-family: 'Work Sans';
    font-style: normal;
    font-style: 16px;
    color: $accent-color;
}

.container {

    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;


}


@media (min-width: 450px) {

    .container {
        max-width: 450px;
        padding: 0 25px;
    }
}

@media (min-width: 600px) {

    .container {
        max-width: 600px;
        padding: 0 30px;
    }
}

@media (min-width: 800px) {

    .container {
        max-width: 800px;
        padding: 0 50px;
    }
}

@media (min-width: 1200px) {

    .container {
        max-width: 1300px;
        padding: 0 70px;
    }
}

@media (min-width: 1800px) {

    .container {
        max-width: 1800px;
        padding: 0 150px;
    }
}