.sub-menu-provider {
    height: 85vh;
    width: 251px;
    top: 94px;
    left: 108px;
    position: fixed;
    transform: translateY(-200%);
    transition: transform 0.4s;
    z-index: 12;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 39px;
    box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.12);
    border-radius: 8px;


    .sub-menu-header {
        border-radius: 8px 8px 0px 0px;
        display: flex;
        justify-content: space-between;
        background: #2B1FC7;
        padding: 16px 11px 10px 11px;
        min-height: 117px;

        .sub-menu-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .item-sub-menu {
                border: 1px solid #FFF;
                border-radius: 8px;
                padding: 4px;
                width: 150px;
                display: flex;
                align-self: center;

                a {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    color: #FFF;
                    margin: 0 auto;
                }
            }

            .sub-menu-social-desc {
                display: none;
            }
        }

        .sub-menu-right {

            .button-close-provider {
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    cursor: pointer;
                }

                .top {
                    position: absolute;
                    height: 4px;
                    width: 31px;
                    rotate: 45deg;
                    background: #FFF;
                    border-radius: 5px;
                }

                .bottom {
                    position: absolute;
                    height: 4px;
                    width: 31px;
                    rotate: -45deg;
                    background: #FFF;
                    border-radius: 5px;
                }
            }
        }
    }

    .get-test {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-decoration-line: underline;
        color: #130E54;
        margin-bottom: 20px;
        margin-left: 11px;
        margin-top: 5px;
    }

    ul {
        margin: 0 12px 20px 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        li {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #6F6C96;

            &:hover {
               cursor: pointer;
            }
        }
    }

    .sub-menu-footer {
        display: flex;
        flex-direction: column;
        align-items: center;


        .sub-menu-book {
            border: 1px solid #130E54;
            border-radius: 8px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #130E54;
            padding: 12px 0px;
            width: 229px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;

            &:hover {
                cursor: pointer;
            }
        }

        .sub-menu-call {
            background: #130E54;
            border-radius: 8px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
            padding: 12px 0px;
            width: 229px;
            display: flex;
            justify-content: center;

            &:hover {
                cursor: pointer;
            }
        }

        .sub-menu-social {
            margin-top: 16px;
            margin-bottom: 18px;

            img {
                height: 17px;
                margin-right: 17px;
            }

        }
    }
}

.show {
    transform: translateX(0);
    transition: transform 0.4s;
}

@media (min-width: 1200px) {

    .sub-menu-provider {
        height: 234px;
        width: 1367px;
        top: 121px;
        left: 358px;
        position: fixed;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 39px;
        box-shadow: 0px 15px 20px 3px rgba(103, 103, 103, 0.1);
        border-radius: 16px;

        .sub-menu-header {
            border-radius: 0px 0px 0px 16px;
            padding: 27px 32px;

            .sub-menu-left {
                
                .item-sub-menu {
                    width: 199px;

                    a {
                        font-size: 16px;
                        line-height: 19px;

                        &:hover{
                            color: #2EB7FF;
                        }
                    }

                    &:hover{
                        background-color: #fff;
                        
                    }
                }

                .sub-menu-social-desc {
                    display: flex;
                    margin: 0 auto;
                    padding-left: 17px;

                    img {
                        height: 17px;
                        margin-right: 17px;

                    }
                }
            }

            .sub-menu-right {
                display: none;
            }
        }

        ul {
            flex-wrap: wrap;
            height: 187px;
            width: 100%;
            padding: 31px 0 0 65px;
            margin: 0;

            li {
                font-size: 16px;
                line-height: 150%;
                color: #130E54;
                margin-bottom: 27px;

                .get-test {
                    text-decoration-line: underline;
                    color: #130E54;
                    margin-bottom: 0px;
                    margin-left: 0;
                }
            }
        }

        .sub-menu-footer {

            .sub-menu-book {
                display: none;
            }

            .sub-menu-call {
                display: none;
            }

            .sub-menu-social {
                display: none;
            }
        }
    }

}


@media (min-width: 1800px) {

    .sub-menu-provider {
        left: 403px;
    }
}

